@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit/Outfit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit/Outfit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --senac-blue: #004587;
  --senac-orange: #F59120;

  --z-normal: 1;
  --z-sticky: 100;
  --z-fixed: 200;
  --z-modal: 1000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: var(--senac-blue);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--senac-blue);
  color: #ffffff;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 1024px) {

  .rules-content,
  .students-content,
  .courses-content,
  .home-content,
  .validation-content,
  .course-form-content,
  .coordinator-form-content,
  .student-form-content {
    padding-bottom: 24px;
  }
}

.ant-select-dropdown {
  color: #333;
}

.ant-select-item {
  color: #333;
}

.ant-select-item-option-content {
  color: #333;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  color: #333;
}

/* Global Modal Styles */
.custom-bottom-modal .ant-modal-content,
.custom-delete-modal .ant-modal-content {
  background-color: var(--senac-blue) !important;
  border-radius: 16px !important;
  padding: 24px !important;
}

.custom-bottom-modal .ant-modal-title,
.custom-delete-modal .ant-modal-title {
  color: #ffffff !important;
}

.custom-bottom-modal .ant-modal-close,
.custom-delete-modal .ant-modal-close {
  color: #ffffff !important;
}